body{
    font-family: Optima;
}

a {
    text-decoration: none;
}

#container{
    width: 90%;
    min-width: 300px
}

.link_paginainit{
 float: right;
 border: 1px solid red;
 line-height: 20px;   
 margin-top: 50px;
 padding: 0px 18px;
}

#logo{
    margin-top: 20px;
    display: inline;
    margin-top: 50px;
    float: left;
}

.logo-meio{
    clear: both;
    text-align: center;
}
   

